# Read complex json in python dataframe

In [26]:
import pandas as pd
import simplejson as json

In [27]:
#Load json from file
with open("Planets.json", "r") as read_file:
    planetdata = json.load(read_file)

In [28]:
print(planetdata)

{'Datacollectiondate': '07/25/2019 12:00:00 AM', 'Category': {'Name': 'Planets', 'Series': 1, 'Belongsto': 'SolarSystem', 'TotalCount': '8', 'PlanetDetail': [{'PlanetName': 'Mercury', 'radius': '2439.7km', 'position': '1', 'relativetosun': 'inner'}, {'PlanetName': 'Venus', 'radius': '6051.8km', 'position': '2', 'relativetosun': 'inner'}, {'PlanetName': 'Earth', 'radius': '6371km', 'position': '3', 'relativetosun': 'inner'}, {'PlanetName': 'Mars', 'radius': '3389.5km', 'position': '4', 'relativetosun': 'inner'}, {'PlanetName': 'Jupiter', 'radius': '69911km', 'position': '5', 'relativetosun': 'outer'}, {'PlanetName': 'Saturn', 'radius': '58232km', 'position': '6', 'relativetosun': 'outer'}, {'PlanetName': 'Uranus', 'radius': '25362km', 'position': '7', 'relativetosun': 'outer'}, {'PlanetName': 'Neptune', 'radius': '24622km', 'position': '8', 'relativetosun': 'outer'}]}}

# json reading using list

In [29]:
#json reading using list
pcount = int(planetdata['Category']['TotalCount']) #get total number of planet count

Planets = list()
category=list()
planetName = list()
planetRadius = list()
planetPosition = list()
for i in range(pcount):
    category.append(planetdata['Category']['Name'])
    planetName.append(planetdata['Category']['PlanetDetail'][i]['PlanetName'])
    planetRadius.append(planetdata['Category']['PlanetDetail'][i]['radius'])
    planetPosition.append(planetdata['Category']['PlanetDetail'][i]['position'])
    

#Creating dictionary
Planets={}
Planets["category"] = category 
Planets["planetName"] = planetName 
Planets["planetRadius"] = planetRadius 
Planets["planetPosition"] = planetPosition 
 

df = pd.DataFrame(Planets)
df.head(10)

  category planetName planetRadius planetPosition
0  Planets    Mercury     2439.7km              1
1  Planets      Venus     6051.8km              2
2  Planets      Earth       6371km              3
3  Planets       Mars     3389.5km              4
4  Planets    Jupiter      69911km              5
5  Planets     Saturn      58232km              6
6  Planets     Uranus      25362km              7
7  Planets    Neptune      24622km              8

# json reading using dictionary

In [30]:
#json reading using dictionary
pcount = int(planetdata['Category']['TotalCount']) #get total number of planet count
Planets={}
Planets["category"] = [] 
Planets["planetName"] = [] 
Planets["planetRadius"] =[]
Planets["planetPosition"] = []

for i in range(pcount):
    Planets["category"].append(planetdata['Category']['Name'])
    Planets["planetName"].append(planetdata['Category']['PlanetDetail'][i]['PlanetName'])
    Planets["planetRadius"].append(planetdata['Category']['PlanetDetail'][i]['radius'])
    Planets["planetPosition"].append(planetdata['Category']['PlanetDetail'][i]['position'])
    
df2 = pd.DataFrame(Planets)
df2.head(10)

  category planetName planetRadius planetPosition
0  Planets    Mercury     2439.7km              1
1  Planets      Venus     6051.8km              2
2  Planets      Earth       6371km              3
3  Planets       Mars     3389.5km              4
4  Planets    Jupiter      69911km              5
5  Planets     Saturn      58232km              6
6  Planets     Uranus      25362km              7
7  Planets    Neptune      24622km              8